Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity
WarningsAsErrors: '*'
HeaderFilterRegex: '.*(include|src|tools|tests|benchmarks).*'
FormatStyle: file

